In [456]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
import time

In [457]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009
750,tt1486185,42000000,89162162,Red Riding Hood,Amanda Seyfried|Gary Oldman|Billy Burke|Shiloh...,Catherine Hardwicke,Who's afraid?,"Valerie is in love with a brooding outsider, P...",100,Thriller,Appian Way|Warner Bros.|Random Films,3/11/2011,5.5,2011
671,tt0865556,55000000,127906624,The Forbidden Kingdom,Jackie Chan|Jet Li|Michael Angarano|Li Bingbin...,Rob Minkoff,The battle for eternity is the fantasy of a li...,An American teenager who is obsessed with Hong...,104,Action|Adventure|Fantasy,Casey Silver Productions|China Film Co-Product...,4/18/2008,6.2,2008
1415,tt0388980,25000000,15431177,The Greatest Game Ever Played,Shia LaBeouf|Stephen Dillane|Josh Flitter|Pete...,Bill Paxton,Based on a True Story,A biopic of 20-year-old Francis Ouimet who def...,120,Drama|Family,Walt Disney Pictures,9/30/2005,7.0,2005

In [458]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [459]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data.release_date = pd.to_datetime(data.release_date)
data['profit']=data.revenue-data.budget

In [460]:
def genres_count(df):
    
    genres_dict = {}
    for item in df.genres:
        for genre in item.split(sep="|"):
            genres_dict[genre] = genres_dict.setdefault(genre, 0) + 1
    return genres_dict

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [461]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [462]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [463]:
# можно добавлять разные варианты решения
data.loc[data.budget.idxmax()]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                          2011-05-11 00:00:00
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [464]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [465]:
data.sort_values('runtime', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [466]:
data.sort_values('runtime', ascending = False).tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [467]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [468]:
round(data.runtime.mean())

110

In [469]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [470]:
round(data.runtime.median())

107

In [471]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [472]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data.profit.idxmax()]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                          2009-12-10 00:00:00
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

In [473]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [474]:
data.loc[data.profit.idxmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                          2013-07-03 00:00:00
vote_average                                                          6.0
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

In [475]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [476]:
data[data.profit >0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   datetime64[ns]
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 184.8+ KB

In [477]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [478]:
data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [479]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [480]:
data[data.release_year.isin([2012,2013,2014])].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [481]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [482]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data_g = data.copy()
data_g.genres = data_g.genres.str.split('|')
data_g.genres.explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [483]:
genres_dict2 = {}
for item in data.genres:
    genres_dict2.update({el:0 for el in item.split(sep="|")})

for item in data.genres:
    for genre in item.split(sep="|"):
        genres_dict2[genre] += 1
        
display(genres_dict2)

max(genres_dict2, key=genres_dict2.get)

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

'Drama'

ВАРИАНТ 3 func

In [484]:
max(genres_count(data), key=genres_count(data).get)

'Drama'

In [485]:
genres_count(data)

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

In [486]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [487]:
max(genres_count(data[data.profit>0]), key=genres_count(data[data.profit>0]).get)

'Drama'

In [488]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [489]:
data.groupby('director').revenue.sum().idxmax()

'Peter Jackson'

In [490]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [491]:
data_action = data[data.genres.str.contains('Action')]
data_action.director = data_action.director.str.split('|')
data_action.director.explode().value_counts()

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Doug Lefler           1
Les Mayfield          1
Eli Roth              1
Dan Bradley           1
Bruce Hunt            1
Name: director, Length: 364, dtype: int64

ВАРИАНТ 2

In [492]:
director_dict = {}
for cell in data[data.genres.str.contains('Action')].director:
    for director in cell.split(sep="|"):
        director_dict[director] = director_dict.setdefault(director, 0) + 1
director_dict

{'Colin Trevorrow': 1,
 'George Miller': 1,
 'J.J. Abrams': 4,
 'James Wan': 2,
 'Alan Taylor': 2,
 'Sam Mendes': 2,
 'Lana Wachowski': 4,
 'Lilly Wachowski': 4,
 'Chris Columbus': 1,
 'Joss Whedon': 2,
 'Olivier Megaton': 4,
 'Peyton Reed': 2,
 'Brad Bird': 3,
 'Antoine Fuqua': 6,
 'Brad Peyton': 2,
 'Christopher McQuarrie': 1,
 'Matthew Vaughn': 3,
 'Wes Ball': 2,
 'Neill Blomkamp': 3,
 'Jaume Collet-Serra': 3,
 'Breck Eisner': 3,
 'Guy Ritchie': 4,
 'Ilya Naishuller': 1,
 'Ericson Core': 1,
 'Michael Mann': 2,
 'Denis Villeneuve': 1,
 'Josh Trank': 1,
 'Paul Feig': 2,
 'Aleksander Bach': 1,
 'Ron Howard': 2,
 'Andy Fickman': 1,
 'John Erick Dowdle': 1,
 'Camille Delamarre': 2,
 'Pierre Morel': 3,
 'Anne Fletcher': 1,
 'James Gunn': 1,
 'Joe Russo': 1,
 'Anthony Russo': 1,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Don Hall': 1,
 'Chris Williams': 1,
 'David Ayer': 3,
 'Neil Burger': 1,
 'Bryan Singer': 4,
 'Luc Besson': 2,
 'Jonathan Liebesman': 2,
 'Michael Bay': 7,
 'Matt Reeves': 2,
 'Marc Webb': 2,
 'Doug Liman': 3,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Clint Eastwood': 3,
 'Ridley Scott': 6,
 'Gareth Edwards': 1,
 'Robert Stromberg': 1,
 'Roger Donaldson': 2,
 'Dean DeBlois': 1,
 'Patrick Hughes': 1,
 'Phil Lord': 3,
 'Christopher Miller': 3,
 'Gary Shore': 1,
 'Noam Murro': 1,
 'Vic Armstrong': 1,
 'J.C. Chandor': 2,
 'Brett Ratner': 5,
 'Tim Story': 4,
 'Kenneth Branagh': 2,
 'JosÃ© Padilha': 1,
 'George Clooney': 1,
 'Paul W.S. Anderson': 7,
 'Scott Waugh': 2,
 'Brian A Miller': 1,
 'Steven Quale': 1,
 'Adam Wingard': 1,
 'Renny Harlin': 4,
 'James Cameron': 1,
 'Quentin Tarantino': 5,
 'Patrick Tatopoulos': 1,
 'McG': 3,
 'Zack Snyder': 5,
 'Roland Emmerich': 5,
 'Shane Acker': 1,
 'Stephen Sommers': 3,
 'Shawn Levy': 3,
 'Steve Carr': 1,
 'Mark Neveldine': 4,
 'Brian Taylor': 4,
 'Christian Alvart': 1,
 'Alex Proyas': 2,
 'Hoyt Yeatman': 1,
 'Kevin Macdonald': 1,
 'Michael Spierig': 1,
 'Peter Spierig': 1,
 'Paul McGuigan': 1,
 'Dominic Sena': 4,
 'James McTeigue': 2,
 'Troy Duffy': 1,
 'NimrÃ³d Antal': 2,
 'Paul Weitz': 1,
 'David Bowers': 1,
 'Justin Lin': 4,
 'Daniel Barber': 1,
 'Jonathan Mostow': 3,
 'Andrzej Bartkowiak': 5,
 'Michael J. Bassett': 1,
 'Gavin Hood': 2,
 'Christopher Nolan': 4,
 'Jon Favreau': 3,
 'Pierre Coffin': 1,
 'Chris Renaud': 1,
 'Sylvester Stallone': 2,
 'Joseph Kosinski': 2,
 'Phillip Noyce': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Mike Newell': 1,
 'Louis Leterrier': 5,
 'Jon Turteltaub': 3,
 'Edgar Wright': 2,
 'Tony Scott': 5,
 'Joe Carnahan': 3,
 'Robert Schwentke': 2,
 'Robert Rodriguez': 9,
 'Ethan Maniquis': 1,
 'Albert Hughes': 1,
 'Allen Hughes': 1,
 'Tom McGrath': 1,
 'M. Night Shyamalan': 3,
 'Adam McKay': 1,
 'Miguel Sapochnik': 1,
 'James Mangold': 2,
 'Andy Tennant': 1,
 'Paul Greengrass': 5,
 'Harald Zwart': 3,
 'Jonathan Lynn': 1,
 'Jimmy Hayward': 1,
 'Robert Luketic': 1,
 'John Luessenhop': 1,
 'Kevin Smith': 1,
 'Neil Marshall': 2,
 'Jorma Taccone': 1,
 'Brian Levant': 1,
 'Stuart Beattie': 1,
 'Kevin Munroe': 2,
 'Peter Jackson': 5,
 'Simon West': 4,
 'Tim Burton': 1,
 'Brian Helgeland': 1,
 'John A. Davis': 1,
 'Chris Nahon': 1,
 'Peter Howitt': 2,
 'Hironobu Sakaguchi': 1,
 'Motonori Sakakibara': 1,
 'John Moore': 4,
 'Rod Lurie': 1,
 'Lee Tamahori': 5,
 'Gore Verbinski': 5,
 'John Herzfeld': 1,
 'Ivan Reitman': 1,
 'Frank Oz': 2,
 'Demian Lichtenstein': 1,
 'John Carpenter': 1,
 'Bobby Farrelly': 1,
 'Peter Farrelly': 1,
 'Rob Cohen': 5,
 'Barry Levinson': 1,
 'Luke Greenfield': 1,
 'Les Mayfield': 1,
 'Henry Selick': 1,
 'Rob Pritts': 1,
 'Joe Johnston': 2,
 'Peter Hyams': 2,
 'Ernest R. Dickerson': 1,
 'DJ Pooh': 1,
 'Steven Spielberg': 4,
 'Marc Forster': 3,
 'Eric Brevig': 1,
 'Timur Bekmambetov': 2,
 'Peter Berg': 5,
 'Ben Stiller': 1,
 'D.J. Caruso': 3,
 'Jeff Wadlow': 1,
 'David Gordon Green': 2,
 'Lexi Alexander': 1,
 'Pete Travis': 2,
 'Peter Segal': 1,
 'Mathieu Kassovitz': 1,
 'Rob Minkoff': 1,
 'Jon Avnet': 1,
 'Dennis Dugan': 1,
 'Edward Zwick': 3,
 'Howard McCain': 1,
 'Oxide Pang Chun': 1,
 'Danny Pang': 1,
 'Frank Miller': 2,
 'Craig Mazin': 1,
 'Jason Friedberg': 2,
 'Aaron Seltzer': 2,
 'Simon Hunter': 1,
 'Nicolas Winding Refn': 1,
 'Rob Marshall': 2,
 'Rupert Wyatt': 1,
 'Andrew Niccol': 2,
 'Patrick Lussier': 1,
 'Martin Campbell': 4,
 'Gary McKendry': 1,
 'Scott Stewart': 1,
 'John Singleton': 4,
 'Tarsem Singh': 1,
 'Chris Gorak': 1,
 'Chris Miller': 1,
 'Michel Gondry': 1,
 'Marcus Nispel': 2,
 'Oliver Parker': 1,
 'Joe Cornish': 1,
 'Joe Wright': 1,
 'John Michael McDonagh': 1,
 'Alister Grierson': 1,
 'Sean McNamara': 1,
 'Ruben Fleischer': 2,
 'John Whitesell': 1,
 'Benny Chan': 1,
 'Sam Raimi': 3,
 'George Lucas': 2,
 'Barry Sonnenfeld': 3,
 'Corey Yuen Kwai': 1,
 'Guillermo del Toro': 3,
 'Andrew Davis': 2,
 'Stuart Baird': 1,
 'Kurt Wimmer': 1,
 'Jay Roach': 1,
 'Jim Gillespie': 1,
 'Chuck Russell': 1,
 'Betty Thomas': 1,
 'Randall Wallace': 1,
 'Ron Shelton': 1,
 'Simon Wells': 1,
 'Walter Hill': 2,
 'John Woo': 3,
 'Roger Michell': 1,
 'Michael Apted': 1,
 'Rob Bowman': 2,
 'Tom Dey': 1,
 'Joel Schumacher': 1,
 'Luis Mandoki': 1,
 'Tamra Davis': 1,
 'Ron Underwood': 1,
 'Kevin Bray': 1,
 'Malcolm D. Lee': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'BjÃ¶rn Stein': 1,
 'Tony Gilroy': 1,
 'Mark Andrews': 1,
 'Steve Purcell': 1,
 'Brenda Chapman': 1,
 'Ang Lee': 2,
 'Len Wiseman': 4,
 'Boaz Yakin': 1,
 'Andrew Stanton': 1,
 'Rian Johnson': 1,
 'Mike McCoy': 1,
 'Baltasar KormÃ¡kur': 2,
 'Stephen St. Leger': 1,
 'James Mather': 1,
 'Daniel Espinosa': 1,
 'Asger Leth': 1,
 'Mabrouk El Mechri': 1,
 'Dan Bradley': 1,
 'Julie Anne Robinson': 1,
 'Anthony Hemingway': 1,
 'David Koepp': 1,
 'David Barrett': 1,
 'Mark Steven Johnson': 2,
 'Stephen Norrington': 1,
 'F. Gary Gray': 2,
 'Jan de Bont': 1,
 'Jon Amiel': 1,
 'David Dobkin': 2,
 'Clark Johnson': 2,
 'Richard Donner': 2,
 'John McTiernan': 1,
 'William Friedkin': 2,
 'Uwe Boll': 3,
 'Shane Black': 1,
 'Francis Lawrence': 2,
 'David Twohy': 3,
 'Tommy Wirkola': 1,
 'Carl Rinsch': 1,
 'Gary Fleder': 1,
 'Mikael HÃ¥fstrÃ¶m': 1,
 'Taylor Hackford': 1,
 'Steven Knight': 1,
 'Spike Lee': 1,
 'Dito Montiel': 1,
 'Keanu Reeves': 1,
 'Courtney Solomon': 2,
 'Fyodor Bondarchuk': 1,
 'Karyn Kusama': 1,
 'Adam Shankman': 1,
 'John Stockwell': 1,
 'Sydney Pollack': 1,
 'Terry Gilliam': 1,
 'Jay Chandrasekhar': 1,
 'Richard Shepard': 1,
 'John Dahl': 1,
 'Bruce Hunt': 1,
 'Alfonso CuarÃ³n': 1,
 'Stefen Fangmeier': 1,
 'Mel Gibson': 1,
 'Bruce Beresford': 1,
 'Wolfgang Petersen': 1,
 'David R. Ellis': 2,
 'Jeff Tremaine': 1,
 'John Bonito': 1,
 'Geoffrey Sax': 1,
 'Tony Bill': 1,
 'Wayne Kramer': 1,
 'Sanjay Gadhvi': 1,
 'Phil Joanou': 1,
 'Alexander Witt': 1,
 'David S. Goyer': 2,
 'Bibo Bergeron': 1,
 'Vicky Jenson': 1,
 'Rob Letterman': 1,
 'Kerry Conran': 1,
 'Oliver Stone': 1,
 'Jonathan Hensleigh': 1,
 'Pitof': 1,
 'Philip Kaufman': 1,
 'Trey Parker': 1,
 'Steven Brill': 1,
 'Frank Coraci': 1,
 'Paul Abascal': 1,
 'Joseph Kahn': 1,
 'David Mamet': 1,
 'Jay Russell': 1,
 'Robert Redford': 1,
 'Philip G. Atwell': 1,
 'Michael Davis': 1,
 'Xavier Gens': 1,
 'Eli Roth': 1,
 'Rob Zombie': 1,
 'Jason Eisener': 1,
 'Dave Meyers': 1,
 'Russell Mulcahy': 1,
 'Andrew Dominik': 1,
 'Doug Lefler': 1,
 'David Leland': 1,
 'Feng Xiaogang': 1,
 'Ben Garant': 1,
 'Joel Coen': 1,
 'Donald Petrie': 1,
 'Paul Verhoeven': 1,
 'Roger Spottiswoode': 1,
 'Antony Hoffman': 1,
 'Stephen T. Kay': 1,
 'Don Bluth': 1,
 'Gary Goldman': 1,
 'Christian Duguay': 1,
 'Douglas Aarniokoski': 1,
 'Gina Prince-Bythewood': 1,
 'Brian Robbins': 1,
 'Des McAnuff': 1}

In [493]:
max(director_dict, key=director_dict.get)

'Robert Rodriguez'

In [494]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [495]:
data_actors = data[data.release_year == 2012].copy()
data_actors.cast = data_actors.cast.str.split("|")
data_actors.explode('cast').groupby('cast').sum().sort_values('revenue', ascending=False)[['budget','revenue','profit']]

                      budget     revenue      profit
cast
Chris Hemsworth    485000000  2027450773  1542450773
Denis Leary        310000000  1629460639  1319460639
Anne Hathaway      311000000  1522851057  1211851057
Robert Downey Jr.  220000000  1519557910  1299557910
Mark Ruffalo       220000000  1519557910  1299557910
...                      ...         ...         ...
Michael Nyqvist     10000000     3428048    -6571952
Danny Huston        35000000     2106557   -32893443
Josh Lucas          35000000     2106557   -32893443
Sami Gayle          35000000     2106557   -32893443
Nicolas Cage        35000000     2106557   -32893443

[466 rows x 3 columns]

ВАРИАНТ 2

In [496]:
cast_dict = {}
for row in data[data.release_year == 2012].itertuples():
    for actor in row.cast.split(sep="|"):
        cast_dict[actor] = cast_dict.setdefault(actor, 0) + row.revenue
cast_dict

{'Robert Downey Jr.': 1519557910,
 'Chris Evans': 1519557910,
 'Mark Ruffalo': 1519557910,
 'Chris Hemsworth': 2027450773,
 'Scarlett Johansson': 1519557910,
 'Kate Beckinsale': 394302074,
 'Stephen Rea': 132400000,
 'Michael Ealy': 228470507,
 'Theo James': 132400000,
 'India Eisley': 132400000,
 'Christian Bale': 1081041287,
 'Michael Caine': 1081041287,
 'Gary Oldman': 1081041287,
 'Anne Hathaway': 1522851057,
 'Tom Hardy': 1134717867,
 'Jamie Foxx': 425368238,
 'Christoph Waltz': 425368238,
 'Leonardo DiCaprio': 425368238,
 'Kerry Washington': 447412515,
 'Samuel L. Jackson': 425368238,
 'Daniel Craig': 1108561013,
 'Judi Dench': 1108561013,
 'Javier Bardem': 1108561013,
 'Ralph Fiennes': 1409561013,
 'Naomie Harris': 1108561013,
 'Jeremy Renner': 276572938,
 'Rachel Weisz': 276572938,
 'Edward Norton': 344836104,
 'Scott Glenn': 276572938,
 'Stacy Keach': 276572938,
 'Ian McKellen': 1017003568,
 'Martin Freeman': 1017003568,
 'Richard Armitage': 1017003568,
 'Andy Serkis': 1017003568,
 'Cate Blanchett': 1017003568,
 'Noomi Rapace': 403170142,
 'Michael Fassbender': 436542748,
 'Charlize Theron': 799770142,
 'Idris Elba': 403170142,
 'Guy Pearce': 489050752,
 'Bradley Cooper': 218970175,
 'Jennifer Lawrence': 896949406,
 'Robert De Niro': 205738714,
 'Jacki Weaver': 205738714,
 'Chris Tucker': 205738714,
 'Andrew Garfield': 752215857,
 'Emma Stone': 752215857,
 'Rhys Ifans': 806125608,
 'Denis Leary': 1629460639,
 'Martin Sheen': 752215857,
 'Kelly Macdonald': 538983207,
 'Julie Walters': 538983207,
 'Billy Connolly': 598503505,
 'Emma Thompson': 1163009983,
 'Kevin McKidd': 538983207,
 'Kristen Stewart': 1234384318,
 'Sam Claflin': 396600000,
 'Ian McShane': 396600000,
 'Channing Tatum': 598294075,
 'Jonah Hill': 201585328,
 'Brie Larson': 201585328,
 'Dave Franco': 201585328,
 'Ellie Kemper': 201585328,
 'Suraj Sharma': 609016565,
 'Irrfan Khan': 609016565,
 'Ayush Tandon': 609016565,
 'Gautam Belur': 609016565,
 'Adil Hussain': 609016565,
 'John Leguizamo': 914138503,
 'Ray Romano': 877244782,
 'Chris Wedge': 877244782,
 'Seann William Scott': 1112234366,
 'Mark Wahlberg': 612468315,
 'Mila Kunis': 549368315,
 'Seth MacFarlane': 549368315,
 'Joel McHale': 549368315,
 'Giovanni Ribisi': 612468315,
 'Tom Cruise': 277759208,
 'Rosamund Pike': 519340595,
 'Richard Jenkins': 218340595,
 'David Oyelowo': 268705972,
 'Werner Herzog': 218340595,
 'Naomi Watts': 180274123,
 'Ewan McGregor': 213646729,
 'Tom Holland': 180274123,
 'Samuel Joslin': 180274123,
 'Oaklee Pendergast': 180274123,
 'John C. Reilly': 471222889,
 'Sarah Silverman': 471222889,
 'Jane Lynch': 526042190,
 'Jack McBrayer': 471222889,
 'Jamie Elman': 471222889,
 'Anna Kendrick': 350316209,
 'Skylar Astin': 115350426,
 'Brittany Snow': 115350426,
 'Anna Camp': 115350426,
 'Rebel Wilson': 115350426,
 'Will Smith': 624026776,
 'Tommy Lee Jones': 738307827,
 'Josh Brolin': 624026776,
 'Michael Stuhlbarg': 624026776,
 'Josh Hutcherson': 1091710235,
 'Liam Hemsworth': 691210692,
 'Woody Harrelson': 710632953,
 'Elizabeth Banks': 829566659,
 'Colin Farrell': 218224335,
 'Jessica Biel': 198802074,
 'Bryan Cranston': 540910192,
 'Bill Nighy': 198802074,
 'Tom Hanks': 130482868,
 'Halle Berry': 130482868,
 'Jim Broadbent': 130482868,
 'Hugo Weaving': 130482868,
 'Jim Sturgess': 138589343,
 'Sylvester Stallone': 312573423,
 'Jason Statham': 352919609,
 'Dolph Lundgren': 312573423,
 'Bruce Willis': 449378341,
 'Arnold Schwarzenegger': 312573423,
 'Liam Neeson': 677141306,
 'Maggie Grace': 408345336,
 'Famke Janssen': 376141306,
 'Rade Serbedzija': 376141306,
 'Luke Grimes': 376141306,
 'Johnny Depp': 245527149,
 'Michelle Pfeiffer': 257961927,
 'Helena Bonham Carter': 245527149,
 'Jackie Earle Haley': 245527149,
 'Jonny Lee Miller': 245527149,
 'Logan Lerman': 33400000,
 'Emma Watson': 33400000,
 'Ezra Miller': 33400000,
 'Paul Rudd': 145618720,
 'Nina Dobrev': 33400000,
 'Ben Affleck': 232324128,
 'Alan Arkin': 232324128,
 'John Goodman': 232324128,
 'Victor Garber': 232324128,
 'Jason Biggs': 234989584,
 'Alyson Hannigan': 234989584,
 'Chris Klein': 234989584,
 'Thomas Ian Nicholas': 234989584,
 'Matthew McConaughey': 167221571,
 'Olivia Munn': 167221571,
 'Cody Horn': 167221571,
 'Alex Pettyfer': 167221571,
 'Kristen Connolly': 66486080,
 'Anna Hutchison': 66486080,
 'Fran Kranz': 66486080,
 'Jesse Williams': 66486080,
 'Chris Pine': 319376448,
 'Alec Baldwin': 366360283,
 'Jude Law': 306941670,
 'Isla Fisher': 306941670,
 'Hugh Jackman': 748751440,
 'Rachel McAdams': 196114570,
 'Sam Neill': 196114570,
 'Scott Speedman': 196114570,
 'Jessica Lange': 196114570,
 'Dwayne Johnson': 355692760,
 'Kristin Davis': 355692760,
 'Vanessa Hudgens': 355692760,
 'Luis GuzmÃ¡n': 355692760,
 'Chris Sarandon': 40346186,
 'James Hong': 40346186,
 'Catherine Chan': 40346186,
 'Robert John Burke': 40346186,
 'Benjamin Walker': 112265139,
 'Dominic Cooper': 112265139,
 'Anthony Mackie': 112265139,
 'Mary Elizabeth Winstead': 112265139,
 'Rufus Sewell': 112265139,
 'Kirsten Dunst': 16890793,
 'Timothy Spall': 8106475,
 'James Kidnie': 8106475,
 'Heidi Hawkins': 8106475,
 'Zac Efron': 348840316,
 'Danny DeVito': 348840316,
 'Taylor Swift': 348840316,
 'Ed Helms': 348840316,
 'Rob Riggle': 348840316,
 'Jared Gilman': 68263166,
 'Kara Hayward': 68263166,
 'Bill Murray': 68263166,
 'Karl Urban': 41037742,
 'Olivia Thirlby': 41037742,
 'Lena Headey': 41037742,
 'Wood Harris': 41037742,
 'Jason Cope': 41037742,
 'Taylor Kitsch': 634164585,
 'Alexander SkarsgÃ¥rd': 303025485,
 'Rihanna': 303025485,
 'Brooklyn Decker': 382725485,
 'Tadanobu Asano': 303025485,
 'Russell Crowe': 441809770,
 'Amanda Seyfried': 441809770,
 'Sacha Baron Cohen': 1368110577,
 'Julia Roberts': 183018522,
 'Lily Collins': 183018522,
 'Armie Hammer': 183018522,
 'Nathan Lane': 183018522,
 'Martin Klebba': 183018522,
 'Lynn Collins': 284139100,
 'Mark Strong': 416959816,
 'Willem Dafoe': 284139100,
 'CiarÃ¡n Hinds': 411869836,
 'Joseph Gordon-Levitt': 78125599,
 'Emily Blunt': 100951751,
 'Paul Dano': 47042000,
 'Noah Segan': 47042000,
 'Robert Pattinson': 835063556,
 'Taylor Lautner': 829000000,
 'Peter Facinelli': 829000000,
 'Elizabeth Reaser': 829000000,
 'Jessica Chastain': 186497296,
 'Jason Clarke': 132820716,
 'Joel Edgerton': 132820716,
 'Chris Pratt': 186730467,
 'Gina Carano': 33372606,
 'Bill Paxton': 33372606,
 'Sam Worthington': 347221189,
 'Edgar RamÃ\xadrez': 301000000,
 'Kathryn McCormick': 140470746,
 'Ryan Guzman': 140470746,
 'Stephen Boss': 140470746,
 'Megan Boone': 140470746,
 'Jessica Guadix': 140470746,
 'Dane DeHaan': 145000000,
 'Alex Russell': 145000000,
 'Michael B. Jordan': 145000000,
 'Michael Kelly': 145000000,
 'Anna Wood': 145000000,
 'Roselyn SÃ¡nchez': 81272766,
 'Emilio Rivera': 81272766,
 'Nestor Serrano': 81272766,
 'Gonzalo Menendez': 81272766,
 'Alexander Asefa': 81272766,
 'Adam Sandler': 416433970,
 'Steve Buscemi': 358375603,
 'David Spade': 358375603,
 'Kevin James': 358375603,
 'Selena Gomez': 358375603,
 'Jake Gyllenhaal': 48126384,
 'Michael PeÃ±a': 48126384,
 'Natalie Martinez': 48126384,
 'David Harbour': 48126384,
 'Cameron Diaz': 79700000,
 'Jennifer Lopez': 79700000,
 'Sayed Badreya': 179379533,
 'Aasif Mandvi': 179379533,
 'Megan Fox': 267438319,
 'Anna Faris': 179379533,
 'Oliver Cooper': 100000000,
 'Jonathan Daniel Brown': 100000000,
 'Thomas Mann': 100000000,
 'Dax Flame': 100000000,
 'Kirby Bliss Blanton': 100000000,
 'Ben Foster': 63100000,
 'J.K. Simmons': 63100000,
 'Ben Stiller': 746921274,
 'David Schwimmer': 746921274,
 'Frances McDormand': 755060062,
 'Chris Rock': 746921274,
 'Shia LaBeouf': 53676580,
 'Mia Wasikowska': 53676580,
 'John Cusack': 29657751,
 'Luke Evans': 29657751,
 'Alice Eve': 29657751,
 'Brendan Gleeson': 356072317,
 'Kevin McNally': 29657751,
 'Diego Boneta': 59418613,
 'Julianne Hough': 59418613,
 'Nicolas Cage': 2106557,
 'Malin Ã…kerman': 26266491,
 'Josh Lucas': 2106557,
 'Sami Gayle': 2106557,
 'Danny Huston': 2106557,
 'Hugh Grant': 118338361,
 'Jeremy Piven': 118338361,
 'Brian Blessed': 118338361,
 'Salma Hayek': 165338361,
 'Joaquin Phoenix': 28258060,
 'Philip Seymour Hoffman': 28258060,
 'Amy Adams': 28258060,
 'Laura Dern': 28258060,
 'Jesse Plemons': 28258060,
 'Alison Brie': 53909751,
 'Jason Segel': 141968537,
 'Leslie Mann': 88058786,
 'Maude Apatow': 88058786,
 'Joseph Gilgun': 32204030,
 'Lennie James': 32204030,
 'Peter Stormare': 32204030,
 'Jennifer Aniston': 24159934,
 'Justin Theroux': 24159934,
 'Lauren Ambrose': 24159934,
 'Daniel Radcliffe': 127730736,
 'Sidney Johnston': 127730736,
 'Alisa Khazanova': 127730736,
 'Mary Stockley': 127730736,
 'Charlie Tahan': 81491068,
 'Winona Ryder': 81491068,
 "Catherine O'Hara": 81491068,
 'Martin Short': 81491068,
 'Martin Landau': 81491068,
 'Susan Sarandon': 93543423,
 'Eva Amurri Martino': 58058367,
 'Leighton Meester': 58058367,
 'Andy Samberg': 58058367,
 'Denzel Washington': 208076205,
 'Ryan Reynolds': 208076205,
 'Vera Farmiga': 208076205,
 'Joel Kinnaman': 208076205,
 'Blake Lively': 47000000,
 'Aaron Taylor-Johnson': 47000000,
 'Benicio del Toro': 47000000,
 'Jamie Bell': 46221189,
 'Ed Harris': 46221189,
 'Edward Burns': 46221189,
 'Sam Rockwell': 19422261,
 'Christopher Walken': 19422261,
 'Abbie Cornish': 19422261,
 'Drew Barrymore': 24719215,
 'John Krasinski': 32858003,
 'Kristen Bell': 24719215,
 'Vinessa Shaw': 24719215,
 'Dermot Mulroney': 24719215,
 'Jason Bateman': 3428048,
 'Hope Davis': 3428048,
 'Frank Grillo': 3428048,
 'Paula Patton': 3428048,
 'Michael Nyqvist': 3428048,
 'Olivia Wilde': 25666239,
 'Mark Duplass': 12434778,
 'Danielle Panabaker': 8493728,
 'Matt Bush': 8493728,
 'Katrina Bowden': 8493728,
 'Jean-Luc Bilodeau': 8493728,
 'David Koechner': 8493728,
 'Jeffrey Dean Morgan': 130252858,
 'Natasha Calis': 85446075,
 'Madison Davenport': 85446075,
 'Kyra Sedgwick': 85446075,
 'Rob LaBelle': 85446075,
 'Adelaide Clemens': 52302796,
 'Kit Harington': 52302796,
 'Sean Bean': 52302796,
 'Carrie-Anne Moss': 52302796,
 'Radha Mitchell': 52302796,
 'Brad Pitt': 37930465,
 'Scoot McNairy': 37930465,
 'Ben Mendelsohn': 37930465,
 'James Gandolfini': 37930465,
 'Ray Liotta': 37930465,
 'Henry Cavill': 16863583,
 'VerÃ³nica Echegui': 16863583,
 'Sigourney Weaver': 16863583,
 'Caroline Goodall': 16863583,
 'Richard Gere': 35485056,
 'Tim Roth': 35485056,
 'Brit Marling': 35485056,
 'Monica Raymund': 35485056,
 'Isabel Lucas': 44806783,
 'Adrianne Palicki': 44806783,
 'Sean Hayes': 54819301,
 'Will Sasso': 54819301,
 'Chris Diamantopoulos': 54819301,
 'SofÃ\xada Vergara': 54819301,
 'Meryl Streep': 114281051,
 'Steve Carell': 114281051,
 'Jean Smart': 114281051,
 'Marin Ireland': 114281051,
 'Eddie Murphy': 22044277,
 'Allison Janney': 22044277,
 'Cliff Curtis': 22044277,
 'Clark Duke': 22044277,
 'Tyler Perry': 30353232,
 'Rachel Nichols': 30353232,
 'Jean Reno': 30353232,
 'Matthew Fox': 30353232,
 'Giancarlo Esposito': 30353232,
 'Katherine Heigl': 36893721,
 'Debbie Reynolds': 36893721,
 'Sherri Shepherd': 36893721,
 'Patrick Fischler': 36893721,
 'Maggie Smith': 59520298,
 'Tom Courtenay': 59520298,
 'Pauline Collins': 59520298,
 'Michael Gambon': 59520298,
 'Kodi Smit-McPhee': 107139399,
 'Tucker Albrizzi': 107139399,
 'Jodelle Ferland': 107139399,
 'Casey Affleck': 107139399,
 'Matt Damon': 8138788,
 'Rosemarie DeWitt': 8138788,
 'Lucas Black': 8138788,
 'Devon Bostick': 77112176,
 'Steve Zahn': 77112176,
 'Peyton List': 77112176,
 'Rachael Harris': 77112176,
 'Zachary Gordon': 77112176,
 'Eva Longoria': 9622846,
 'Andy GarcÃ\xada': 9622846,
 'Oscar Isaac': 9622846,
 "Peter O'Toole": 9622846,
 'RubÃ©n Blades': 9622846,
 'Cuba Gooding Jr.': 50365377,
 'Daniela Ruah': 50365377,
 'Terrence Howard': 50365377,
 'Victoria Justice': 11417362,
 'Jackson Nicoll': 11417362,
 'Chelsea Handler': 11417362,
 'Josh Pence': 11417362,
 'Jane Levy': 11417362,
 'Michael Shannon': 31083599,
 'Dania Ramirez': 31083599,
 'Jamie Chung': 31083599,
 'WolÃ© Parks': 31083599,
 'Zoe Saldana': 13231461,
 'Jeremy Irons': 13231461,
 'Dennis Quaid': 13231461,
 'Katie Featherston': 142817992,
 'Kathryn Newton': 142817992,
 'Matt Shively': 142817992,
 'Brady Allen': 142817992,
 'Sprague Grayden': 142817992,
 'Garrett Hedlund': 8784318,
 'Sam Riley': 8784318,
 'Tom Sturridge': 8784318,
 'Billy Crystal': 119772232,
 'Bette Midler': 119772232,
 'Marisa Tomei': 119772232,
 'Tom Everett Scott': 119772232,
 'Bailee Madison': 119772232,
 'Jerry Ferrara': 96070507,
 'Meagan Good': 96070507,
 'Regina Hall': 96070507,
 'Kevin Hart': 96070507,
 'Josh Duhamel': 4636169,
 'Rosario Dawson': 4636169,
 "Vincent D'Onofrio": 4636169,
 '50 Cent': 4636169,
 'Ashley Greene': 9627492,
 'Sebastian Stan': 9627492,
 'Tom Felton': 9627492,
 'Julianna Guill': 9627492,
 'Luke Pasqualino': 9627492,
 'Sarah Gadon': 6063556,
 'Juliette Binoche': 6063556,
 'Paul Giamatti': 6063556,
 'Samantha Morton': 6063556,
 'Milla Jovovich': 240159255,
 'Sienna Guillory': 240159255,
 'Michelle Rodriguez': 240159255,
 'Aryana Engineer': 240159255,
 'Li Bingbing': 240159255,
 'Whitney Houston': 24637469,
 'Cee Lo Green': 24637469,
 'Derek Luke': 24637469,
 'Mike Epps': 24637469,
 'Carmen Ejogo': 24637469,
 'Katy Perry': 32726956,
 'Russell Brand': 32726956,
 'Shannon Woodward': 32726956,
 'Rachael Markarian': 32726956,
 'Mia Moretti': 32726956}

In [497]:
max(cast_dict, key=cast_dict.get)

'Chris Hemsworth'

In [498]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [499]:
data_b = data[data.budget > data.budget.mean()]
data_b.cast = data_b.cast.str.split('|')
data_b.cast.explode().value_counts()

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Peter Berg            1
Ariel Winter          1
Margot Robbie         1
Robert Sheehan        1
Joely Richardson      1
Name: cast, Length: 1505, dtype: int64

ВАРИАНТ 2

In [500]:
actor_dict = {}
for cell in data[data.budget > data.budget.mean()].cast:
    for actor in cell.split(sep="|"):
        actor_dict[actor] = actor_dict.setdefault(actor, 0) + 1
actor_dict

{'Chris Pratt': 2,
 'Bryce Dallas Howard': 3,
 'Irrfan Khan': 2,
 "Vincent D'Onofrio": 1,
 'Nick Robinson': 1,
 'Tom Hardy': 4,
 'Charlize Theron': 8,
 'Hugh Keays-Byrne': 1,
 'Nicholas Hoult': 2,
 'Josh Helman': 1,
 'Shailene Woodley': 2,
 'Theo James': 3,
 'Kate Winslet': 6,
 'Ansel Elgort': 1,
 'Miles Teller': 3,
 'Harrison Ford': 7,
 'Mark Hamill': 1,
 'Carrie Fisher': 1,
 'Adam Driver': 1,
 'Daisy Ridley': 1,
 'Vin Diesel': 10,
 'Paul Walker': 6,
 'Jason Statham': 7,
 'Michelle Rodriguez': 5,
 'Dwayne Johnson': 12,
 'Leonardo DiCaprio': 11,
 'Will Poulter': 1,
 'Domhnall Gleeson': 2,
 'Paul Anderson': 1,
 'Arnold Schwarzenegger': 6,
 'Jason Clarke': 3,
 'Emilia Clarke': 1,
 'Jai Courtney': 3,
 'J.K. Simmons': 2,
 'Matt Damon': 18,
 'Jessica Chastain': 3,
 'Kristen Wiig': 4,
 'Jeff Daniels': 2,
 'Michael PeÃ±a': 5,
 'Sandra Bullock': 3,
 'Jon Hamm': 1,
 'Michael Keaton': 3,
 'Allison Janney': 2,
 'Steve Coogan': 2,
 'Amy Poehler': 2,
 'Phyllis Smith': 1,
 'Richard Kind': 1,
 'Bill Hader': 3,
 'Lewis Black': 1,
 'Daniel Craig': 11,
 'Christoph Waltz': 4,
 'LÃ©a Seydoux': 2,
 'Ralph Fiennes': 9,
 'Monica Bellucci': 3,
 'Mila Kunis': 3,
 'Channing Tatum': 3,
 'Sean Bean': 6,
 'Eddie Redmayne': 1,
 'Douglas Booth': 1,
 'Adam Sandler': 17,
 'Michelle Monaghan': 4,
 'Peter Dinklage': 1,
 'Josh Gad': 3,
 'Kevin James': 8,
 'Robert Downey Jr.': 11,
 'Chris Hemsworth': 8,
 'Mark Ruffalo': 10,
 'Chris Evans': 7,
 'Scarlett Johansson': 6,
 'Paul Rudd': 5,
 'Michael Douglas': 3,
 'Evangeline Lilly': 2,
 'Corey Stoll': 2,
 'Bobby Cannavale': 3,
 'Lily James': 1,
 'Cate Blanchett': 9,
 'Richard Madden': 1,
 'Helena Bonham Carter': 8,
 'Holliday Grainger': 1,
 'Jennifer Lawrence': 5,
 'Josh Hutcherson': 8,
 'Liam Hemsworth': 4,
 'Woody Harrelson': 7,
 'Elizabeth Banks': 6,
 'Britt Robertson': 1,
 'George Clooney': 8,
 'Raffey Cassidy': 1,
 'Thomas Robinson': 1,
 'Hugh Laurie': 3,
 'Alexandra Daddario': 3,
 'Carla Gugino': 5,
 'Ioan Gruffudd': 5,
 'Archie Panjabi': 1,
 'Tom Cruise': 15,
 'Jeremy Renner': 3,
 'Simon Pegg': 5,
 'Rebecca Ferguson': 1,
 'Ving Rhames': 6,
 'Mark Wahlberg': 14,
 'Seth MacFarlane': 1,
 'Amanda Seyfried': 4,
 'Jessica Barth': 1,
 'Giovanni Ribisi': 5,
 'Taron Egerton': 1,
 'Colin Firth': 2,
 'Samuel L. Jackson': 15,
 'Michael Caine': 9,
 'Mark Strong': 6,
 "Dylan O'Brien": 1,
 'Kaya Scodelario': 1,
 'Thomas Brodie-Sangster': 1,
 'Giancarlo Esposito': 2,
 'Aidan Gillen': 1,
 'Jack Black': 10,
 'Dylan Minnette': 1,
 'Odeya Rush': 1,
 'Amy Ryan': 3,
 'Jillian Bell': 1,
 'Raymond Ochoa': 1,
 'Jack Bright': 1,
 'Jeffrey Wright': 6,
 'Frances McDormand': 5,
 'Maleah Nipay-Padilla': 1,
 'Rose Leslie': 1,
 'Elijah Wood': 5,
 'Ã“lafur Darri Ã“lafsson': 1,
 'Henry Cavill': 3,
 'Armie Hammer': 3,
 'Alicia Vikander': 2,
 'Elizabeth Debicki': 2,
 'Luca Calvani': 1,
 'Jim Parsons': 1,
 'Rihanna': 2,
 'Steve Martin': 4,
 'Jennifer Lopez': 2,
 'Matt Jones': 1,
 'Jake Gyllenhaal': 5,
 'Josh Brolin': 7,
 'John Hawkes': 1,
 'Sam Worthington': 5,
 'Edgar RamÃ\xadrez': 2,
 'Luke Bracey': 1,
 'Teresa Palmer': 2,
 'Delroy Lindo': 5,
 'Ray Winstone': 4,
 'Johnny Depp': 13,
 'Gwyneth Paltrow': 6,
 'Ewan McGregor': 9,
 'Paul Bettany': 9,
 'Olivia Munn': 1,
 'Leehom Wang': 1,
 'Tang Wei': 1,
 'Viola Davis': 2,
 'Holt McCallany': 1,
 'Kate Mara': 3,
 'Michael B. Jordan': 1,
 'Jamie Bell': 3,
 'Toby Kebbell': 3,
 'Melissa McCarthy': 1,
 'Rose Byrne': 4,
 'Miranda Hart': 1,
 'Benjamin Walker': 2,
 'Cillian Murphy': 1,
 'Brendan Gleeson': 9,
 'Ben Whishaw': 2,
 'Levi Miller': 1,
 'Garrett Hedlund': 3,
 'Hugh Jackman': 14,
 'Rooney Mara': 2,
 'Noah Schnapp': 1,
 'Bill Melendez': 1,
 'Venus Schultheis': 1,
 'Hadley Belle Miller': 1,
 'Madisyn Shipman': 1,
 'Andy Samberg': 3,
 'Selena Gomez': 2,
 'Steve Buscemi': 11,
 'Jeff Bridges': 7,
 'Rachel McAdams': 3,
 'Marion Cotillard': 3,
 'James Franco': 8,
 'Mia Wasikowska': 2,
 'Tom Hiddleston': 4,
 'Charlie Hunnam': 3,
 'Jim Beaver': 1,
 'Tom Kenny': 1,
 'Bill Fagerbakke': 1,
 'Rodger Bumpass': 1,
 'Clancy Brown': 1,
 'Carolyn Lawrence': 1,
 'Matthew McConaughey': 6,
 'Anne Hathaway': 7,
 'Casey Affleck': 3,
 'Zoe Saldana': 3,
 'Dave Bautista': 1,
 'Bradley Cooper': 5,
 'Sebastian Stan': 2,
 'Robert Redford': 3,
 'Donald Sutherland': 5,
 'Martin Freeman': 3,
 'Ian McKellen': 12,
 'Richard Armitage': 3,
 'Ken Stott': 2,
 'Graham McTavish': 2,
 'Scott Adsit': 1,
 'Ryan Potter': 1,
 'Daniel Henney': 1,
 'T.J. Miller': 1,
 'Jamie Chung': 2,
 'Ben Affleck': 5,
 'Rosamund Pike': 6,
 'Carrie Coon': 1,
 'Neil Patrick Harris': 3,
 'Tyler Perry': 1,
 'Brad Pitt': 12,
 'Shia LaBeouf': 9,
 'Logan Lerman': 6,
 'Jon Bernthal': 1,
 'Ben Stiller': 14,
 'Rami Malek': 2,
 'Rebel Wilson': 1,
 'Robin Williams': 6,
 'Owen Wilson': 12,
 'Ray Stevenson': 2,
 'James McAvoy': 3,
 'Patrick Stewart': 7,
 'Michael Fassbender': 4,
 'Megan Fox': 4,
 'Will Arnett': 4,
 'William Fichtner': 4,
 'Alan Ritchson': 1,
 'Noel Fisher': 1,
 'Stanley Tucci': 6,
 'Nicola Peltz': 2,
 'Jack Reynor': 1,
 'Li Bingbing': 3,
 'Andy Serkis': 5,
 'Keri Russell': 2,
 'Judy Greer': 1,
 'Denzel Washington': 10,
 'Marton Csokas': 4,
 'ChloÃ« Grace Moretz': 2,
 'David Harbour': 1,
 'Haley Bennett': 1,
 'Andrew Garfield': 2,
 'Emma Stone': 4,
 'Jamie Foxx': 14,
 'Dane DeHaan': 1,
 'Colm Feore': 3,
 'Emily Blunt': 2,
 'Bill Paxton': 4,
 'Jonas Armstrong': 1,
 'Sienna Miller': 3,
 'Kyle Gallner': 1,
 'Cole Konis': 1,
 'Ben Reed': 1,
 'Christian Bale': 8,
 'Joel Edgerton': 4,
 'John Turturro': 5,
 'Aaron Paul': 2,
 'Ben Mendelsohn': 1,
 'Aaron Taylor-Johnson': 1,
 'Ken Watanabe': 3,
 'Elizabeth Olsen': 1,
 'Bryan Cranston': 4,
 'Juliette Binoche': 1,
 'Angelina Jolie': 16,
 'Elle Fanning': 3,
 'Juno Temple': 1,
 'Sharlto Copley': 3,
 'Isobelle Molloy': 1,
 'Jay Baruchel': 4,
 'Gerard Butler': 8,
 'Jonah Hill': 5,
 'Sylvester Stallone': 8,
 'Mel Gibson': 6,
 'Craig Berry': 1,
 'Alison Brie': 1,
 'David Burrows': 1,
 'Julianne Moore': 5,
 'Ben Barnes': 2,
 'Kit Harington': 2,
 'Luke Evans': 3,
 'Sarah Gadon': 1,
 'Dominic Cooper': 3,
 'Art Parkinson': 1,
 'Charles Dance': 1,
 'Tom McGrath': 1,
 'Chris Miller': 1,
 'Christopher Knights': 1,
 'Conrad Vernon': 1,
 'John Malkovich': 5,
 'Sullivan Stapleton': 1,
 'Eva Green': 4,
 'Lena Headey': 2,
 'Callan Mulvey': 1,
 'David Wenham': 4,
 'Nicole Kidman': 9,
 'Peter Capaldi': 1,
 'Michael Gambon': 4,
 'Imelda Staunton': 1,
 'Ian McShane': 5,
 'John Hurt': 3,
 'Rufus Sewell': 3,
 'Aksel Hennie': 1,
 'Russell Crowe': 14,
 'Jennifer Connelly': 7,
 'Emma Watson': 10,
 'Anthony Hopkins': 7,
 'Chris Pine': 5,
 'Keira Knightley': 5,
 'Kevin Costner': 6,
 'Nonso Anozie': 1,
 'Gemma Chan': 1,
 'Joel Kinnaman': 2,
 'Gary Oldman': 10,
 'Abbie Cornish': 3,
 'Jackie Earle Haley': 2,
 'Rebecca Hall': 1,
 'Morgan Freeman': 7,
 'Ty Burrell': 1,
 'Max Charles': 1,
 'Ariel Winter': 1,
 'Ellie Kemper': 1,
 'Mickey Rourke': 4,
 'Jessica Alba': 5,
 'Joseph Gordon-Levitt': 4,
 'Rosario Dawson': 8,
 'Jesse Eisenberg': 3,
 'Leslie Mann': 3,
 'Andy GarcÃ\xada': 3,
 'Bill Murray': 4,
 'John Goodman': 6,
 "Jack O'Connell": 1,
 'Takamasa Ishihara': 1,
 'Finn Wittrock': 1,
 'Carrie-Anne Moss': 4,
 'Emily Browning': 3,
 'Adewale Akinnuoye-Agbaje': 2,
 'Jessica Lucas': 1,
 'QuvenzhanÃ© Wallis': 1,
 'Cameron Diaz': 12,
 'Imogen Poots': 1,
 'RamÃ³n RodrÃ\xadguez': 2,
 'Ben Kingsley': 8,
 'Isaac Hempstead Wright': 1,
 'Dee Bradley Baker': 1,
 'Steve Blum': 1,
 'Aaron Eckhart': 6,
 'Yvonne Strahovski': 2,
 'Bill Nighy': 8,
 'Miranda Otto': 3,
 'Colin Farrell': 9,
 'Jessica Brown Findlay': 1,
 'William Hurt': 3,
 'Kellan Lutz': 2,
 'Liam McIntyre': 1,
 'Gaia Weiss': 1,
 'Scott Adkins': 1,
 'Roxanne McKee': 1,
 'Sigourney Weaver': 2,
 'Stephen Lang': 3,
 'MÃ©lanie Laurent': 2,
 'Eli Roth': 1,
 'Daniel Radcliffe': 8,
 'Rupert Grint': 8,
 'Tom Felton': 1,
 'Julie Walters': 2,
 'Ed Asner': 1,
 'Christopher Plummer': 3,
 'Jordan Nagai': 1,
 'Bob Peterson': 1,
 'Zachary Quinto': 2,
 'Leonard Nimoy': 1,
 'Eric Bana': 5,
 'Bruce Greenwood': 4,
 'Anton Yelchin': 2,
 'Moon Bloodgood': 1,
 'Jude Law': 13,
 'Eddie Marsan': 2,
 'Malin Ã…kerman': 3,
 'Billy Crudup': 7,
 'Jeffrey Dean Morgan': 2,
 'Patrick Wilson': 4,
 'John Cusack': 2,
 'Amanda Peet': 3,
 'Chiwetel Ejiofor': 4,
 'Thandie Newton': 4,
 'Oliver Platt': 2,
 'Tom Hanks': 10,
 'Ayelet Zurer': 1,
 'Stellan SkarsgÃ¥rd': 3,
 'Pierfrancesco Favino': 1,
 'Anika Noni Rose': 1,
 'Bruno Campos': 1,
 'Keith David': 2,
 'Michael-Leon Wooley': 1,
 'Jennifer Cody': 1,
 'Dennis Quaid': 3,
 'Marlon Wayans': 2,
 'Anna Faris': 4,
 'James Caan': 2,
 'Mr. T': 1,
 'Benjamin Bratt': 5,
 'Dakota Fanning': 3,
 'Teri Hatcher': 1,
 'Jennifer Saunders': 1,
 'Dawn French': 1,
 'Amy Adams': 4,
 'Hank Azaria': 5,
 'Jim Carrey': 8,
 'Steve Valentine': 1,
 'Daryl Sabara': 1,
 'Sage Ryan': 1,
 'Rachel Weisz': 9,
 'Susan Sarandon': 4,
 'Saoirse Ronan': 2,
 'Sam Rockwell': 2,
 'PenÃ©lope Cruz': 4,
 'Tracy Morgan': 2,
 'Jon Favreau': 4,
 'John Travolta': 5,
 'Luis GuzmÃ¡n': 4,
 'Victor Gojcaj': 1,
 'Vince Vaughn': 8,
 'Jason Bateman': 4,
 'Kristen Bell': 3,
 'Seth Rogen': 4,
 'Reese Witherspoon': 4,
 'Kiefer Sutherland': 3,
 'Zachary Levi': 2,
 'David Cross': 5,
 'Jason Lee': 7,
 'Justin Long': 6,
 'Matthew Gray Gubler': 1,
 'Robin Wright': 3,
 'Josh Duhamel': 3,
 'Rainn Wilson': 1,
 'Tyrese Gibson': 4,
 'Meryl Streep': 3,
 'Alec Baldwin': 8,
 'Lake Bell': 1,
 'Mary Kay Place': 2,
 'Will Ferrell': 6,
 'Anna Friel': 1,
 'Danny McBride': 1,
 'Jorma Taccone': 1,
 'Matt Lauer': 1,
 'Tony Kgoroge': 1,
 'Patrick Mofokeng': 1,
 'Matt Stern': 1,
 'Seann William Scott': 6,
 'Jessica Biel': 7,
 'Michael Cera': 2,
 'Olivia Wilde': 3,
 'Max Minghella': 1,
 'Oscar Isaac': 2,
 'Ashraf Barhom': 1,
 'Michael Lonsdale': 1,
 'Nicolas Cage': 12,
 'Freddie Highmore': 3,
 'Jordana Brewster': 3,
 'John Ortiz': 1,
 'Clive Owen': 5,
 'Julia Roberts': 7,
 'Paul Giamatti': 6,
 'Tom Wilkinson': 1,
 'Lisa Roberts Gillan': 1,
 'Catherine Keener': 4,
 'Nelsan Ellis': 1,
 'Michael Bunin': 1,
 'Bruce Willis': 13,
 'Radha Mitchell': 3,
 'James Cromwell': 4,
 'Liev Schreiber': 3,
 'Danny Huston': 2,
 'Lynn Collins': 2,
 'Ryan Reynolds': 7,
 'Hugh Grant': 3,
 'Sarah Jessica Parker': 3,
 'Mary Steenburgen': 3,
 'Sam Elliott': 5,
 'Natalia Klimas': 1,
 'Ellen Page': 1,
 'Don Cheadle': 5,
 'Crispin Glover': 1,
 'Steve Carell': 8,
 'Jason Segel': 2,
 'Russell Brand': 3,
 'Julie Andrews': 4,
 'Dolph Lundgren': 2,
 'Eric Roberts': 1,
 'Randy Couture': 1,
 'Craig Ferguson': 1,
 'America Ferrera': 1,
 'Emily Mortimer': 3,
 'Michelle Williams': 2,
 'Bruce Boxleitner': 1,
 'Yaya DaCosta': 1,
 'Mandy Moore': 2,
 'Donna Murphy': 1,
 'Ron Perlman': 5,
 'M.C. Gainey': 1,
 'Tim Allen': 2,
 'Ned Beatty': 2,
 'Joan Cusack': 2,
 'Daniel Olbrychski': 1,
 'Skandar Keynes': 3,
 'Georgie Henley': 3,
 'Gary Sweet': 1,
 'Arthur Angel': 1,
 'Timothy Dalton': 2,
 'Steven Berkoff': 1,
 'Gemma Arterton': 2,
 'Alfred Molina': 4,
 'Steve Toussaint': 1,
 'Liam Neeson': 7,
 'Jason Flemyng': 3,
 'Mary Elizabeth Winstead': 3,
 'Kieran Culkin': 1,
 'Anna Kendrick': 2,
 'Robert De Niro': 12,
 'Dustin Hoffman': 6,
 'Barbra Streisand': 2,
 'Brandon T. Jackson': 3,
 'Jake Abel': 1,
 'Ethan Suplee': 1,
 'Kevin Corrigan': 1,
 'Mike Myers': 6,
 'Eddie Murphy': 15,
 'Antonio Banderas': 5,
 'Helen Mirren': 2,
 'Mary-Louise Parker': 3,
 'Karl Urban': 7,
 'Salma Hayek': 4,
 'Maria Bello': 3,
 'Maya Rudolph': 1,
 'Jennifer Beals': 1,
 'Tina Fey': 2,
 'Taraji P. Henson': 1,
 'Jimmi Simpson': 1,
 'Kristen Stewart': 4,
 'Robert Pattinson': 3,
 'Taylor Lautner': 3,
 'Ashley Greene': 2,
 'Peter Facinelli': 4,
 'Noah Ringer': 1,
 'Jackson Rathbone': 1,
 'Dev Patel': 1,
 'Shaun Toub': 1,
 'Eva Mendes': 6,
 'Peter Sarsgaard': 5,
 'Jordi MollÃ\xa0': 2,
 'Javier Bardem': 2,
 'Richard Jenkins': 7,
 'Greg Kinnear': 3,
 'Jason Isaacs': 4,
 "Chris O'Dowd": 1,
 'Zach Galifianakis': 5,
 'Juliette Lewis': 1,
 'Katherine Heigl': 2,
 'Ashton Kutcher': 4,
 'Tom Selleck': 2,
 "Catherine O'Hara": 1,
 'Alex Borstein': 1,
 'Kristin Davis': 3,
 'Cynthia Nixon': 2,
 'Kim Cattrall': 2,
 'Chris Noth': 3,
 'Emily Barclay': 1,
 'Essie Davis': 2,
 'Deborra-Lee Furness': 1,
 'Cher': 1,
 'Christina Aguilera': 1,
 'Eric Dane': 2,
 'Cam Gigandet': 2,
 'Julianne Hough': 2,
 'Stephanie Szostak': 2,
 'Jemaine Clement': 1,
 'James Marsden': 3,
 'Nick Nolte': 5,
 'Christina Applegate': 1,
 'Bette Midler': 2,
 'Pascale Hutton': 1,
 'Jack Nicholson': 4,
 'Kathryn Hahn': 1,
 'Carey Mulligan': 2,
 'Frank Langella': 1,
 'Dan Aykroyd': 3,
 'Justin Timberlake': 2,
 'Tom Cavanagh': 1,
 'Christine Taylor': 1,
 'Shawn Roberts': 1,
 "Denis O'Hare": 1,
 'Milla Jovovich': 3,
 'Wentworth Miller': 1,
 'Ali Larter': 1,
 'Kim Coates': 1,
 'Kacey Barnfield': 1,
 'Viggo Mortensen': 4,
 'Liv Tyler': 4,
 'Orlando Bloom': 10,
 'John Cleese': 2,
 'Robbie Coltrane': 1,
 'Billy Crystal': 2,
 'Mary Gibbs': 1,
 'James Coburn': 1,
 'Haley Joel Osment': 1,
 "Frances O'Connor": 2,
 'Sam Robards': 1,
 'Jake Thomas': 1,
 'John Lithgow': 2,
 'Vincent Cassel': 1,
 'Josh Hartnett': 2,
 'Kate Beckinsale': 6,
 'Cuba Gooding Jr.': 3,
 'Jon Voight': 6,
 'Brendan Fraser': 5,
 'John Hannah': 2,
 'Arnold Vosloo': 2,
 'Oded Fehr': 1,
 'Michael J. Fox': 2,
 'Corey Burton': 1,
 'Claudia Christian': 1,
 'James Garner': 2,
 'John Mahoney': 1,
 'Iain Glen': 1,
 'Noah Taylor': 2,
 'Ed Harris': 4,
 'Tim Roth': 2,
 'Michael Clarke Duncan': 3,
 'Kris Kristofferson': 2,
 'Joseph Fiennes': 1,
 'Bob Hoskins': 1,
 'Tom Sizemore': 2,
 'Heath Ledger': 4,
 'Shannyn Sossamon': 1,
 'Laura Fraser': 1,
 'Chris Tucker': 2,
 'Jackie Chan': 6,
 'Zhang Ziyi': 2,
 'Roselyn SÃ¡nchez': 1,
 'Ernie Reyes, Jr.': 2,
 'Jeff Goldblum': 1,
 'Elizabeth Perkins': 2,
 'Alexander Pollock': 1,
 'Miriam Margolyes': 1,
 'Tobey Maguire': 6,
 'Kurt Russell': 4,
 'Catherine McCormack': 1,
 'Stephen Dillane': 1,
 'Larry Bryggman': 1,
 'Halle Berry': 9,
 'Sam Shepard': 2,
 'Ming-Na Wen': 1,
 'Kristen Wilson': 1,
 'Raven-SymonÃ©': 1,
 'Kyla Pratt': 1,
 'James Gandolfini': 3,
 'Steve Burton': 1,
 'Monica Potter': 1,
 'Michael Wincott': 1,
 'Dylan Baker': 2,
 'Mika Boorem': 1,
 'Gene Hackman': 2,
 'Jennifer Aniston': 5,
 'Dominic West': 2,
 'Jason Bonham': 1,
 'Edward Burns': 2,
 'Kelsey Grammer': 1,
 'Avery Brooks': 1,
 'David Duchovny': 1,
 'Orlando Jones': 1,
 'Ted Levine': 1,
 'Will Smith': 13,
 'Mario Van Peebles': 1,
 'Ron Silver': 1,
 'Edward Norton': 5,
 'Marlon Brando': 1,
 'Angela Bassett': 4,
 'Paul Soles': 1,
 'Martin Landau': 2,
 'Laurie Holden': 1,
 'David Ogden Stiers': 2,
 'Hal Holbrook': 1,
 'Courteney Cox': 2,
 'Christian Slater': 1,
 'Kevin Pollak': 1,
 'Chris Rock': 7,
 'Laurence Fishburne': 3,
 'David Hyde Pierce': 2,
 'Brandy Norwood': 1,
 'Billy Bob Thornton': 3,
 'Troy Garity': 1,
 'William Converse-Roberts': 1,
 'Kip Pardue': 1,
 'Robert Sean Leonard': 1,
 'Til Schweiger': 2,
 'Estella Warren': 1,
 'Ray Liotta': 1,
 'David Andrews': 2,
 'Teri Polo': 3,
 "Matt O'Leary": 1,
 'Bridget Fonda': 1,
 'Chris Kattan': 1,
 'Sam Neill': 1,
 'William H. Macy': 2,
 'TÃ©a Leoni': 4,
 'Trevor Morgan': 1,
 'Alessandro Nivola': 1,
 'Ben Burtt': 1,
 'Elissa Knight': 1,
 'Jeff Garlin': 2,
 'Fred Willard': 1,
 'John Ratzenberger': 1,
 'Terrence Howard': 4,
 'Leslie Bibb': 1,
 'Karen Allen': 1,
 'Olga Kurylenko': 2,
 'Mathieu Amalric': 1,
 'Judi Dench': 5,
 'Giancarlo Giannini': 1,
 'Lucy Liu': 3,
 'Tilda Swinton': 1,
 'Julia Ormond': 1,
 'Jet Li': 2,
 'Luke Ford': 1,
 'Tim Blake Nelson': 1,
 'Jada Pinkett Smith': 3,
 'David Schwimmer': 3,
 'Cedric the Entertainer': 1,
 'Selma Blair': 2,
 'Jeffrey Tambor': 3,
 'Doug Jones': 1,
 'Hayden Christensen': 4,
 'Rachel Bilson': 1,
 'Michael Rooker': 2,
 'Thomas Kretschmann': 3,
 'Terence Stamp': 4,
 'Carice van Houten': 1,
 'Kenneth Branagh': 3,
 'Steven Strait': 1,
 'Camilla Belle': 1,
 'Cliff Curtis': 3,
 'Nathanael Baring': 1,
 'Mo Zinal': 1,
 'Jae Head': 1,
 'William Moseley': 2,
 'Anna Popplewell': 2,
 'Michael Chiklis': 3,
 'Anthony Mackie': 4,
 'Keanu Reeves': 6,
 'Kathy Bates': 2,
 'Jaden Smith': 3,
 'Sarah Jane Morris': 1,
 'Michael Ealy': 2,
 'Miley Cyrus': 1,
 'Susie Essman': 1,
 'Mark Walton': 1,
 'Malcolm McDowell': 2,
 'Bryan Brown': 1,
 'Zooey Deschanel': 4,
 'Rhys Darby': 1,
 'Sasha Alexander': 1,
 'Fionnula Flanagan': 1,
 'Kathleen Turner': 1,
 'Alan Arkin': 2,
 'Ali Suliman': 2,
 'Simon McBurney': 1,
 'Sienna Guillory': 3,
 'Eliza Bennett': 1,
 'John C. Reilly': 5,
 'Adam Scott': 2,
 'Kate Hudson': 2,
 'Ewen Bremner': 2,
 'Alexis Dziena': 1,
 'Guy Pearce': 6,
 'Lucy Lawless': 1,
 'Michelle Yeoh': 1,
 'MÃ©lanie Thierry': 1,
 'Lambert Wilson': 2,
 'Charlotte Rampling': 2,
 'Jeffrey Donovan': 1,
 'Geoff Pierson': 1,
 'Sarah Bolger': 1,
 'Andrew McCarthy': 1,
 'Robert Duvall': 2,
 'Dwight Yoakam': 1,
 'Romany Malco': 1,
 'Meagan Good': 1,
 'Emile Hirsch': 1,
 'Christina Ricci': 2,
 'Matthew Fox': 2,
 'Scott Porter': 1,
 'Carol Burnett': 1,
 'Michael Angarano': 1,
 'Collin Chou': 1,
 '50 Cent': 1,
 'Al Pacino': 3,
 'Donnie Wahlberg': 1,
 'Emmanuelle Chriqui': 1,
 'Nick Swardson': 1,
 'Lainie Kazan': 1,
 'Harry Treadaway': 1,
 'Gabriel Macht': 2,
 'Paz Vega': 2,
 'John Leguizamo': 6,
 'Spencer Breslin': 3,
 'Betty Buckley': 1,
 'Matthew Broderick': 4,
 'Tracey Ullman': 1,
 'Kevin Kline': 2,
 'Gabrielle Union': 2,
 'Scott Caan': 1,
 'Ed Helms': 4,
 'Hugo Weaving': 4,
 'Tommy Lee Jones': 6,
 'Hayley Atwell': 1,
 'Alan Rickman': 1,
 'Maggie Smith': 1,
 'Geoffrey Rush': 4,
 'Kevin McNally': 1,
 'Karin Konoval': 1,
 'Freida Pinto': 1,
 'Natalie Portman': 4,
 'Paula Patton': 3,
 'Anil Kapoor': 1,
 'Goran Visnjic': 2,
 'Bailee Madison': 2,
 'Griffin Gluck': 1,
 'Dakota Goyo': 1,
 'Kevin Durand': 1,
 'Jared Harris': 1,
 'Noomi Rapace': 2,
 'Kelly Reilly': 1,
 'Larry the Cable Guy': 2,
 'Eddie Izzard': 2,
 'Blake Lively': 1,
 'Tim Robbins': 3,
 'Justin Bartha': 3,
 'Ken Jeong': 3,
 'Nick Frost': 1,
 'Jena Malone': 1,
 'Vanessa Hudgens': 2,
 'Jane Lynch': 3,
 'Will.i.am': 1,
 'Walton Goggins': 1,
 'Benedict Cumberbatch': 1,
 'Emily Watson': 2,
 'Jeremy Irvine': 1,
 'Isla Fisher': 3,
 'Asa Butterfield': 2,
 'Sacha Baron Cohen': 5,
 'CiarÃ¡n Hinds': 3,
 'Violante Placido': 1,
 'Fergus Riordan': 1,
 'Johnny Whitworth': 1,
 'Dominic Purcell': 2,
 'Matthew Macfadyen': 1,
 'Lily Collins': 3,
 'Maggie Q': 2,
 'Isabel Lucas': 2,
 'Will Rothhaar': 1,
 'Cory Hardrict': 1,
 'Jim Parrack': 1,
 'Katie Holmes': 2,
 'Eugenio Derbez': 1,
 'Tim Meadows': 1,
 'Amy Sedaris': 2,
 'Jay Chou': 1,
 'Edward Furlong': 1,
 'Jason Momoa': 2,
 'Rose McGowan': 1,
 'Rachel Nichols': 1,
 'Alan Alda': 1,
 'Lea Michele': 2,
 'Pink': 1,
 'E.G. Daily': 1,
 'Johnny A. Sanchez': 2,
 'Seth Green': 2,
 'Dan Fogler': 1,
 'Breckin Meyer': 1,
 'Elisabeth Harnois': 1,
 'Jenny Slate': 1,
 'Andy Buckley': 1,
 'Jayma Mays': 1,
 'Alan Cumming': 1,
 'Kaley Cuoco': 1,
 'Winona Ryder': 1,
 'Queen Latifah': 2,
 'Kevin Bacon': 3,
 'Richard Harris': 2,
 'Ray Romano': 3,
 'Denis Leary': 4,
 'Franka Potente': 2,
 'Chris Cooper': 3,
 'Brian Cox': 4,
 'Willem Dafoe': 4,
 'Kirsten Dunst': 5,
 'Cliff Robertson': 1,
 'Ian McDiarmid': 2,
 'Rip Torn': 1,
 'Lara Flynn Boyle': 1,
 'Johnny Knoxville': 1,
 'Samantha Morton': 1,
 'Max von Sydow': 2,
 'Lois Smith': 1,
 'Chris Sanders': 1,
 'Daveigh Chase': 1,
 'Tia Carrere': 1,
 'Kevin McDonald': 1,
 'Asia Argento': 1,
 'Michael Roof': 1,
 'Emma Thompson': 3,
 'Roscoe Lee Browne': 1,
 'Martin Short': 1,
 'Pierce Brosnan': 1,
 'Rick Yune': 1,
 'Toby Stephens': 1,
 'Natasha Richardson': 1,
 'Tyler Posey': 1,
 'Daniel Day-Lewis': 1,
 'Geena Davis': 1,
 'Jonathan Lipnicki': 1,
 'Anna Hoelck': 1,
 'Alicia Witt': 1,
 'Dana Ivey': 1,
 'Robert Klein': 1,
 'Joaquin Phoenix': 4,
 'Rory Culkin': 1,
 'Abigail Breslin': 2,
 'Cherry Jones': 1,
 'Francesca Neri': 1,
 'Elias Koteas': 2,
 'Jonathan Frakes': 1,
 'LeVar Burton': 1,
 'Brent Spiner': 1,
 'Gates McFadden': 1,
 'Tyler Hoechlin': 1,
 'Jennifer Jason Leigh': 1,
 'Liam Aiken': 2,
 'Paul Newman': 2,
 'BeyoncÃ© Knowles': 2,
 'Michael York': 1,
 'Mindy Sterling': 1,
 'Elizabeth Mitchell': 1,
 'David Krumholtz': 1,
 'Eric Lloyd': 1,
 'Freddie Prinze Jr.': 1,

In [501]:
max(actor_dict, key=actor_dict.get)

'Matt Damon'

In [502]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [503]:
data_nc = data[data.cast.str.contains('Nicolas Cage')]
data_nc.genres = data_nc.genres.str.split('|')
data_nc.genres.explode().value_counts()

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

ВАРИАНТ 2

In [504]:
nc_genres_dict = {}

for cell in data[data.cast.str.contains('Nicolas Cage')].genres:
    for genre in cell.split(sep="|"):
        nc_genres_dict[genre] = nc_genres_dict.setdefault(genre, 0) + 1
display(nc_genres_dict)
max(nc_genres_dict, key=nc_genres_dict.get)

{'Thriller': 15,
 'Action': 17,
 'Science Fiction': 4,
 'Adventure': 7,
 'Drama': 12,
 'Mystery': 3,
 'Crime': 10,
 'Animation': 3,
 'Family': 3,
 'Fantasy': 8,
 'Comedy': 6,
 'History': 2,
 'War': 1,
 'Horror': 1,
 'Romance': 1}

'Action'

In [505]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [506]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

In [507]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [508]:
data.groupby('release_year').sum().sort_values('revenue', ascending = False)

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378
2014          7008050000  23405862953    13444         774.5  16397812953
2013          7970620000  23213799791    15039         846.9  15243179791
2012          7002000000  23079001687    12145         682.1  16077001687
2011          7946550531  22676791872    15355         868.5  14730241341
2010          7540000000  21071204961    13592         762.1  13531204961
2009          6838046652  20261791024    14187         800.2  13423744372
2008          6588900000  18252781990    12979         731.1  11663881990
2007          6596495000  18162406801    14305         809.3  11565911801
2004          6029250000  15663430720    12014         671.3   9634180720
2005          6327500000  15309425558    13387         733.5   8981925558
2006          6083965000  14775042320    13952         775.4   8691077320
2003          5117300000  14346123312    10623         574.4   9228823312
2002          5134000000  14136361487    11528         653.1   9002361487
2001          5067150000  13017764865    11284         619.8   7950614865
2000          4562700000  10664099805     9956         542.5   6101399805

In [509]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [510]:
data[data.production_companies.str.contains('Warner Bros')] \
.groupby('release_year').sum().sort_values('profit', ascending=False)

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

In [511]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [512]:
data.groupby(data.release_date.dt.month).count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
release_date,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190

In [513]:
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [514]:
data.groupby(data.release_date.dt.month).count()[5:8].imdb_id.sum()

450

In [515]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [516]:
data_w = data[data.release_date.dt.month.isin([12,1,2])]
data_w.director = data_w.director.str.split('|')
data_w.director.explode().value_counts()

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Nancy Meyers          4
Shawn Levy            4
                     ..
Michael Lembeck       1
John Frankenheimer    1
Sam Raimi             1
Eric Bress            1
James Duffy           1
Name: director, Length: 358, dtype: int64

ВАРИАНТ 2

In [517]:
winter_director_dict = {}
for row in data[data.release_date.dt.month.isin([12,1,2])].itertuples():
    for director in row.director.split(sep="|"):
        winter_director_dict[director] = winter_director_dict.setdefault(director, 0) + 1
max(winter_director_dict, key=winter_director_dict.get)

'Peter Jackson'

In [518]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [519]:
data_f = data.copy()
data_f.production_companies = data_f.production_companies.str.split('|')

data_f2 = data_f.explode('production_companies').groupby('production_companies'). \
agg({'original_title':['count', lambda x:len(''.join(x))]})

data_f2.columns = ['count', 'str_len']
data_f2['mean_len'] = data_f2['str_len']/data_f2['count']
data_f2.sort_values('mean_len', ascending=False)

                            count  str_len  mean_len
production_companies
Four By Two Productions         1       83      83.0
Jim Henson Company, The         1       59      59.0
Dos Corazones                   1       47      47.0
Polsky Films                    1       46      46.0
Museum Canada Productions       1       46      46.0
...                           ...      ...       ...
Everest Entertainment           1        3       3.0
Berlanti Productions            1        3       3.0
Global Entertainment Group      1        2       2.0
XM2 Productions                 1        2       2.0
Ixtlan Productions              1        2       2.0

[1771 rows x 3 columns]

ВАРИАНТ 2

In [520]:
start = time.time()

film_len_df = pd.DataFrame(columns = ['title_cum_len','film_count'])
for row in data.itertuples():
    for studio in row.production_companies.split(sep="|"):
        if studio in film_len_df.index:
            film_len_df.title_cum_len.loc[studio] += len(row.original_title)
            film_len_df.film_count.loc[studio] += 1
        else:
            film_len_df = film_len_df.append \
            (pd.Series({'title_cum_len':len(row.original_title), 'film_count':1}, name=studio))

film_len_df['av_len'] = film_len_df['title_cum_len']/film_len_df['film_count']
display(film_len_df.sort_values('av_len', ascending=False))

stop = time.time()
print('Время выполнения:', round(stop-start, 2), 'сек.')

                           title_cum_len film_count av_len
Four By Two Productions               83          1   83.0
Jim Henson Company, The               59          1   59.0
Dos Corazones                         47          1   47.0
Museum Canada Productions             46          1   46.0
Polsky Films                          46          1   46.0
...                                  ...        ...    ...
Everest Entertainment                  3          1    3.0
Berlanti Productions                   3          1    3.0
XM2 Productions                        2          1    2.0
Global Entertainment Group             2          1    2.0
Ixtlan Productions                     2          1    2.0

[1771 rows x 3 columns]

Время выполнения: 4.12 сек.

ВАРИАНТ 3

In [521]:
start = time.time()

studio_set = set()
data.production_companies.apply(lambda item: studio_set.update(item.split(sep="|")))

studio_str_cum_len = dict.fromkeys(studio_set, 0)
for studio in studio_set:
    studio_str_cum_len[studio] = len(''.join(data[data.production_companies.str.contains(studio)].original_title))
    
studio_film_count = dict.fromkeys(studio_set, 0)
for studio in studio_set:
    studio_film_count[studio] = data[data.production_companies.str.contains(studio)].original_title.count()

studio_res = {key: studio_str_cum_len[key]/studio_film_count.get(key, 1) for key in studio_str_cum_len.keys()}

print(max(studio_res, key=studio_res.get))

stop = time.time()
print('Время выполнения:', round(stop-start, 2), 'сек.')

C:\Anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions
Время выполнения: 5.0 сек.

<ipython-input-521-e423a6584910>:14: RuntimeWarning: invalid value encountered in long_scalars
  studio_res = {key: studio_str_cum_len[key]/studio_film_count.get(key, 1) for key in studio_str_cum_len.keys()}

In [522]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [523]:
data_f3 = data_f.explode('production_companies').groupby('production_companies'). \
agg({'overview':['count', lambda x:len(' '.join(x).split())]})
data_f3.columns = ['count', 'words_count']
data_f3['mean_words'] = data_f3['words_count']/data_f3['count']
data_f3.sort_values('mean_words', ascending=False)

                                       count  words_count  mean_words
production_companies
Midnight Picture Show                      1          175       175.0
Room 9 Entertainment                       1          161       161.0
Heineken Branded Entertainment             1          159       159.0
98 MPH Productions                         1          159       159.0
Brookwell-McNamara Entertainment           1          156       156.0
...                                      ...          ...         ...
Henceforth                                 1           13        13.0
Our Stories Films                          1           13        13.0
London Boulevard                           1           13        13.0
Motion Picture Corporation of America      1           11        11.0
Empire Pictures                            1           11        11.0

[1771 rows x 3 columns]

ВАРИАНТ 2

In [524]:
start = time.time()

film_len_df = pd.DataFrame(columns = ['title_cum_len','overview_cum_word','film_count'])
for row in data.itertuples():
    for studio in row.production_companies.split(sep="|"):
        if studio in film_len_df.index:
            film_len_df.title_cum_len.loc[studio] += len(row.original_title)
            film_len_df.overview_cum_word.loc[studio] += len(row.overview.split())
            film_len_df.film_count.loc[studio] += 1
        else:
            film_len_df = film_len_df.append \
            (pd.Series({'title_cum_len':len(row.original_title),
                        'overview_cum_word':len(row.overview.split()),
                        'film_count':1}, name=studio))

film_len_df['av_len'] = film_len_df['title_cum_len']/film_len_df['film_count']
film_len_df['av_word'] = film_len_df['overview_cum_word']/film_len_df['film_count']
display(film_len_df.sort_values('av_word', ascending=False))

stop = time.time()
print('Время выполнения:', round(stop-start, 2), 'сек.')

,title_cum_len,overview_cum_word,film_count,av_len,av_word
Midnight Picture Show,23,175,1,23.0,175.0
Room 9 Entertainment,21,161,1,21.0,161.0
98 MPH Productions,10,159,1,10.0,159.0
Heineken Branded Entertainment,19,159,1,19.0,159.0
Brookwell-McNamara Entertainment,11,156,1,11.0,156.0
...,...,...,...,...,...
Henceforth,16,13,1,16.0,13.0
Phantom Four,10,13,1,10.0,13.0
Projection Pictures,16,13,1,16.0,13.0
Empire Pictures,7,11,1,7.0,11.0
Motion Picture Corporation of America,9,11,1,9.0,11.0

Время выполнения: 4.59 сек.

In [525]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [526]:
data.sort_values('vote_average', ascending = False).head(int(len(data)/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265

In [527]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# ооочень долго, не стоит запускать. Не дождался завершения.

actors_set = set()
data.cast.apply(lambda item: actors_set.update(item.split(sep="|")))

film_counter = 0
result = ()
for couple in itertools.combinations(actors_set, 2):
    if data[data.cast.str.contains(couple[0])&data.cast.str.contains(couple[1])].imdb_id.count() > film_counter:
        film_counter = data[data.cast.str.contains(couple[0])&data.cast.str.contains(couple[1])].imdb_id.count()
        result = couple
result

In [528]:
data2 = data.copy()
data2.cast = data2.cast.str.split("|")
data2.cast = data2.cast.apply(lambda x: tuple(itertools.combinations(sorted(x),2)))
data2.cast.explode().value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Jamie Dornan, Jennifer Ehle)          1
(Aurora Perrineau, Hayley Kiyoko)      1
(Bob Hoskins, Vincent Regan)           1
(David Oyelowo, Elyes Gabel)           1
(Jennifer Aniston, Todd Louiso)        1
Name: cast, Length: 17943, dtype: int64

In [529]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

In [530]:
cast_pairs = data["cast"].apply(lambda s: str(s).split('|')). \
apply(lambda i: list(itertools.combinations(sorted(i), 2))).values.sum()
Counter(cast_pairs).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [531]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [532]:
# и убедиться что ни чего не пропустил)
len(answers)

27